/*******
Theme Name: 普利禅寺，由Engima主题修改而来
Theme URI:http://weblizar.com/themes/enigma/
Author: weblizar
Author URI: http://weblizar.com/
Description: 普利禅寺
Version: 2.4.3
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl.html
Tags: 
Text Domain: enigma
*/
/*!
 * Enigma Css created By weblizar Themes
*/
/* Main css with editable-------------------------------------------------------------- */
@charset "utf-8";
.row {
    margin-left: 0px;
    margin-right: 0px;
} 
/*@font-face 
{
	 font-family: 'fangzheng';
	 src: url('./fonts/fangzheng.ttf') format('truetype');
} */
.footer_section .footer_top dt{
	font-weight: normal;
}

/* Header Section css-------------------------------------------------------------- */ 
body {
   /* padding:0 30px;*/
   font-family:'Microsoft Yahei', '宋体','仿宋','Arimo',Arial, Helvetica, sans-serif;
   background-color: #fff;

   }
#wrapper{	
    position: relative;
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.container {
    padding-left: 0px ;
    padding-right: 0px ;
}
a:hover, a:focus{
	text-decoration: none ;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #666;
	text-shadow: 0 0 1px rgba(0,0,0,0.01);
	font-weight: 600;
	
}
p , .textwidget{
font-size: 16px;
line-height: 26px;

}
.header_section .header_lang{
	width:120px;
	z-index:999;
	color:#000;
	float:right;
	position: absolute;
	right:0px;
	top:20px;
}
.header_section .header_lang .header_lang_circle{
}
.header_section .header_lang .header_lang_circle a{
	display: block;
	float: left;
	width:30px;
	height:30px;
	border-radius:15px;
	background:#b3b3b3;
	color:#fff;
	font-size: 2rem;
	line-height: 30px;
	text-align: center;
	margin-right:9px;
}
.header_section .header_lang .header_lang_circle a:hover{
	background:#99594c;
}
.navigation_menu .header_img{
	float:left;
	width:50px;
	margin-top:10px;
	margin-left:20px;
}
.navigation_menu .header_img  img{
	width:50px;
}
.navigation_menu .header_img a{
	display: block;
	position: absolute;
	top:14px;
	z-index: 2;
}
.navigation_menu .menu_center_logo{
	float:left;
	margin-top:55px;
	margin-left:15px;
}
.navigation_menu .menu_center_logo a{
	display: block;
	position: absolute;
	z-index: 2;
}
.navigation_menu .menu_center_logo img{
	width:110px;
	height:48px;
}
.navigation_menu .navbar #menu{
	margin-top:70px;
	float:right;
}



/* Flex Slider css *****************************************************************************************************************
********************************************************************************************************************************/ 
.carousel{
	margin-bottom:40px;
	margin-top:10px;
}

.carousel-inner img{
	width:100%;
}
.carousel-caption{
	top:20%;
}
.carousel-control .fa .fa-chevron-left{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}

.carousel-text h1 {
	margin: 0 0 0px 0;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 3em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	line-height: 1.4em;
	background:rgba(0,0,0,0.6);
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-ms-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}

.carousel-text .enigma_blog_read_btn{
	font-size: 25px;
	color:#fff;
	display:inline-block;
	transition: all 0.4s ease 0s;
	padding:10px 10px 10px 10px ;
	-webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
	margin-bottom:20px;
	box-shadow:0px !important;
}

.carousel-list li {
	color: #fff;
	font-size: 17px;
	margin-bottom: 10px;
	overflow: hidden;
	font-weight: 600;
	padding:10px;
	padding-left: 10px;
	padding-right: 10px;
	line-height:23px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);

}
.carousel-list li:nth-child(1) {
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-ms-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}
.carousel-list li:nth-child(2) {
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-ms-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

.carousel-list li:nth-child(3) {
	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
	-ms-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s;
}
.carousel-control img{
	position:absolute;
	top:44%
}

/* index other part css *****************************************************************************************************************
********************************************************************************************************************************/ 

.clearfix .container h2{
	font-family: '楷体';
	text-align: center;
	color:#99594c;
	margin-bottom:40px;
	font-weight: bold;
}

.visit_section{
	text-align:center;
	padding-bottom:40px;
}
.visit_section .visit_block{
	max-width:320px;
	max-height:140px;
	margin:0px auto;
	position:relative;
	filter: alpha(opacity=70);
	opacity:0.7;
	overflow:hidden;
}
.visit_section .visit_block:hover{
	opacity:1;
	transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
}
.visit_section .visit_block:hover img{
	 transform: scale(1.1); 
	 transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
}
.visit_section .visit_block .visit_txt{
	font-family: '楷体';
	font-weight: 'bold';
	width:200px;
	height:60px;
	background:url(./images/visit_bg.png) no-repeat;
	position:absolute;
	top:46px;
	left:62px;
	text-align:center;
	line-height:50px;
	color:#fff;
	font-size:1.9rem;
}

.cultural_activity_bg{
	background: #f7f7f7;
	padding-top:30px;
	padding-bottom:60px;
	position: relative;
	overflow:hidden;
}
.cultural_activity_bg .cultural_activity_bg_img{
	position: absolute;
	left: 0px;
	bottom:0px;
}
.cultural_section{
	
}
.cultural_section .cul_header {
	width:100%;
	display: block;
	height:40px;
}
.cultural_section .cul_header .cul_header_left{
	font-size: 2.9rem;
	/*font-size: 2.5rem;*/
	color:#99594c;
	float: left;
	line-height: 40px;
	font-family:"楷体";
}
.cultural_section .cul_header .cul_header_left label{
	font-weight: normal;
	margin-right:15px;
	font-size: 3.5rem;
	line-height:40px;
	font-family:"Microsoft Yahei";
}
.cultural_section .cul_header .cul_header_more{
	float:right;
	font-size: 1.6rem;
	line-height: 40px;
	margin-top:5px;
	color:#666;
}
.cultural_section .cul_header .cul_header_more:hover{
	text-decoration: underline;
}
.cultural_section .cultural_activity{
}
.cultural_section .cultural_activity .ca_content{
	margin-left:-10px;
	display: relative;
	float: left;
	margin-top:10px;
}
.ca_content .ca_content_img{
	margin-bottom:20px;
	overflow: hidden;
	padding-right:0px;
}
.ca_content .ca_content_img .ca_content_txt{
	margin-top:-25px;
	display: block;
	width: 100%;
	height: 25px;
	position: absolute;
	overflow: hidden;
	line-height: 25px;
	background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.8) 98%, #000 100%); 
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.8) 98%, #000 100%); 
}
.ca_content .ca_content_img .ca_content_txt a{
	padding-left:2%;
	padding-right: 5%;
	width:100%;
	display: block;
	color:#fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowarp;
}
.ca_content .ca_content_img .ca_content_txt a:hover{
	text-decoration: underline;
}
.ca_content .ca_content_img img{
	max-height: 147px;
	width:100%;
}
.cultural_section .cultual_news{
}
.cultural_section .cultual_news .cn_content{
	border:1px solid #ccc;
	margin-top:17px;
	background:#fff;
	padding-top:15px;
	padding-bottom: 15px;
}
.cultual_news .cn_content .cn_content_list{
	width:90%;
	margin-left: 5%;
	line-height: 30px;
}
.cultual_news .cn_content .cn_content_list label{
	color:#99594c;
	font-size:1.5rem;
	font-weight:normal;
}
.cultual_news .cn_content .cn_content_list a{
	font-size: 1.5rem;
	width: 85%;
	display: block;
	float:right;
	color: #333;
	text-decoration: underline;
	letter-spacing: 1px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cultual_news .cn_content .cn_content_list a:hover{
	color:#99594c;
}
.dharma_bg{
	padding-top:50px;
}
.dharma_bg .dharma_section{
	
}
.dharma_section .dharma_content{
	padding-bottom:60px;
}
.dharma_section .dharma_content .dharma_more{
	text-align: center;
	padding-top:40px;
}
.dharma_section .dharma_content .dharma_more a{
	border:1px solid #99594c;
	padding:10px 15px;
	color:#99594c;
	font-size: 2.2rem;
	letter-spacing: 1px;
	font-family:"楷体";
}
.dharma_section .dharma_content .dharma_more a:hover{
	background:#99594c;
	color:#fff;
}
.dharma_section .dharma_content ul{
	width:100%;
	overflow:hidden;
	list-style:none;
	height:300px;
}
.dharma_section .dharma_content li{
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	layout-flow:vertical-ideographic ;
	float:right;
	padding-left:10px;
	margin-left:5px;
	padding-right:10px;
	margin-right: 5px;
	line-height:35px;
	height: 100%;
}
.dharma_section .dharma_content li:hover{
	background:#eee;
}
.dharma_section .dharma_content li a{
	color:#99594c;
	font-size:1.9rem;
}
.dharma_section .dharma_content li label{
	font-weight: normal;
	font-size: 3.5rem;
	color:#99594c;
	width:40px;
	/*width:70px;;*/
	display:block;
	float:left;
	text-align:center;
}
.recommend_bg{
	background:url(./images/bg3.jpg) no-repeat center top;
}
.recommend_section .recommend_tab{
	margin:0px auto;
	width:300px;
	padding:0px;
	margin-top:50px;
}
.recommend_section .recommend_tab li{
	float:left;
	text-align: center;
	list-style: none;
	padding-bottom:30px;
}
.recommend_section .recommend_tab .active{
	padding-bottom:30px;
}
.recommend_section .recommend_tab li a{
	color: #a1a09d;
	font-size: 3rem;
	font-weight:normal;
	font-family: "宋体";
}
.recommend_section .recommend_tab li label{
	cursor: pointer;
	font-size: 3rem;
	font-family: '楷体';
	font-weight: bold;
	color:#a1a09d;
	padding-bottom:5px;
	font-weight:normal;
	margin-left:10px;
	margin-right:10px;
}
.recommend_section .recommend_tab li label:hover{
	color:#99594c;
}
.recommend_section .recommend_tab .active label{
	color:#99594c;
}
.recommend_section .tab-content{
	width: 100%;
	display: block;
	float:left;
}
.recommend_section .reco_yy_block{
	float: left;
	width: 18%;
	margin-left:1%;
	margin-right:1%;
}
.reco_yy_block .reco_yy_img {
	position: relative;
}
.reco_yy_block .reco_yy_img img{
	width:100%;
	max-height: 180px;
}
.reco_yy_block .reco_yy_img span{
	width:100%;
	display: block;
	height: 40px;
	position: absolute;
	bottom:0px;
	background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.8) 98%, #000 100%); 
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.8) 98%, #000 100%); 
}
.reco_yy_block .reco_yy_img span img{
	width:30px;
	height: 30p;
	position: absolute;
	z-index: 3;
	bottom:5px;
	left:5px;
}
.reco_yy_block .reco_yy_txt{
	background:#fff;
	margin-top:-10px;
	padding-top:10px;
	padding-bottom:1px;
}
.reco_yy_block .reco_yy_txt h5{
	font-weight:500;
	font-size:1.6rem;
	text-align:left;
}
.reco_yy_block .reco_yy_txt  h5 a{
	color:#000;
	padding:0px 10px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.reco_yy_block .reco_yy_txt  h5 a:hover{
	color:#99594c;
	text-decoration: underline;
}
.reco_yy_block .reco_yy_txt p{
	text-indent:10px;
	color:#666;
	font-size:1.3rem;
	line-height:12px;
}
.recommend_section .recommend_more{
	text-align: center;
	padding-top:70px;
	width:100%;
	float:left;
	padding-bottom:70px;
}
.recommend_section .recommend_more a{
	border:1px solid #99594c;
	padding:10px 15px;
	color:#99594c;
	font-size: 2.2rem;
	letter-spacing: 1px;
	font-family:"楷体";
}
.recommend_section .recommend_more a:hover{
	background: #99594c;
	color:#fff;
}
/***footer**********************************************************/
.footer_bg{
	background: #403030;
	color:#f0f0f0;
}
.footer_section{
	
}
.footer_section .footer_top{
	padding-top:50px;
	padding-bottom:20px;
}
.footer_section .footer_top dl{
	text-align: center;
}
.footer_section .footer_top dl a{
	color:#f0f0f0;
}
.footer_section .footer_top dl a:hover{
	text-decoration: underline;
}
.footer_section .footer_top dt{
	font-size: 2.1rem;
	font-family: "楷体";
	margin-bottom:15px;
}
.footer_section .footer_top dd{
	font-size: 1.5rem;
	line-height: 30px;
}
.footer_bg .footer_below{
	border-top:1px solid #534545;
	padding-top:40px;
	padding-bottom: 20px;
}
.footer_bg .footer_below p{
	line-height: 18px;
	font-size: 1.4rem
}

.footer_below .footer_erwei img{
	width:130px;
}



/****ziguitigui**************************************************************/
.neiye_banner img{
	width:100%;
	height:auto;
}
.neiye_warpper{
	margin-top:50px;
	margin-bottom: 30px;
}
.neiye_warpper p{
	font-size:1.5rem;
	padding-top:5px;
	padding-bottom:5px;
}
.neiye_warpper .neiye_content{
	padding-bottom: 50px;
}
/*.neiye_content p strong {
    color: #99594c;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 4rem;
}*/
.neiye_warpper h1{
	font-family: "楷体";
	font-weight: bold;
	text-align: center;
	font-weight: normal;
	color:#000;
	font-size: 3.6rem;
	padding-bottom:20px;
}
.neiye_warpper .neiye_content img{
	/*width:100%;*/
	max-width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	height: auto;
}
@media only screen and  (max-width: 992px){
	.neiye_warpper .neiye_content img{
	  width:100%; 
	}
}
.neiye_warpper .neiye_content p{ 
	font-size:1.5rem;
	line-height: 2.7rem;
	/*text-indent: 2em;*/
}
.neiye_warpper .neiye_sidebar{
	text-align:left;
}
.neiye_warpper .neiye_sidebar label{
	width:15px;
	height:15px;
	background:url('./images/sp_cicle.png') no-repeat center top;
	float: left;
	/*margin-top:11px;*/
	margin-top:13px;
	margin-left:15px;
	margin-right:10px;
}
.neiye_warpper .neiye_sidebar h2{
	text-align:left;
	font-weight:normal;
	margin-bottom:25px;
	text-indent: 15px;
}
.neiye_sidebar .sidebar-group{
	border-top:1px solid #eee;
}
.sidebar-group .sidebar-heading{
}
.sidebar-group .sidebar-heading a{
	color:#666;
	font-weight:normal;
	font-size:1.9rem;
	line-height:40px;
}
.sidebar-group .sidebar-heading a:hover{
	color:#99594c;
}
.sidebar-group .sidebar-heading a:hover label{
	background:url('./images/sp.png') no-repeat center top;
}
.sidebar-group .sidebar{
	border-bottom:1px solid #eee;
}
.sidebar-group .sidebar-body ul{
	list-style:none;
	margin-top:-5px;
}
.sidebar-group .sidebar-body ul a{
	font-size:1.5rem;
	color:#666;
	letter-spacing:3px;
	line-height:26px;
}
.sidebar-group .sidebar-body ul a:hover{
	color:#99594c;
}

/*-------------------page_booking--------------*/
.booking_content{
	font-size:1.5rem;
	padding-left:3%;
}
.booking_content .booking_notes{
	color:#99594c;
	text-indent: 2em;
}
.booking_content .booking_time{
	margin-top:40px;
}
.booking_content .booking_label_head{
	font-size:1.8rem;
	line-height: 3rem;
}
.booking_content .booking_label_head label{
	font-weight: normal;
	color:#666;
	margin-right:10px;
	line-height: 3rem;;
}
.booking_time .booking_time_table table{
	text-align: center;
	width:100%;
	margin-top:10px;
	font-size:1.5rem;
}
.booking_time .booking_time_table td{
	vertical-align:middle;
	padding-top:12px;
	padding-bottom:10px;
	color:#333;
}
.booking_content .booking_statute{
	margin-top:50px;
}
.booking_statute .booking_statute_content{
	margin-top:20px;
	background:#fcf4df;
}
.booking_statute_content .booking_statute_ctop{
	width:100%;
	overflow: hidden;
}
.booking_statute_content .booking_statute_cbelow{
	width:100%;
	overflow: hidden;
}
.booking_statute_content .booking_statute_txt{
	padding-left:5%;
	padding-right:5%;
	padding-top:6%;
	padding-bottom:4%;
}
.booking_statute_content .booking_statute_txt p{
	/*text-indent: 2em;*/
	line-height: 35px;
	font-size: 1.8rem;
}
.booking_statute_content .booking_statute_txt p:before{
	content: attr(data-text);
	margin-left: -30px; 
	width: 95px; 
	display: inline-block; 
	position: absolute;
}
.booking_apply_bg{
	background:#ededed;
	margin-top:50px;
	height: 150px;
}
.booking_apply_bg .booking_apply{
	text-align: center;
	font-size: 1.8rem;
	width:70%;
	float:right;
}
.booking_apply_bg .booking_apply span{
	line-height: 150px;
	margin-right:30px;
}
.booking_apply_bg .booking_apply span input{
	margin-left:10px;
}
.booking_apply_bg .booking_apply input{
	/*background:#99594c;*/
	background: #aaa;
	border:none;
	color:#fff;
	font-size:2.4rem;
	padding:7px 18px;
}
.booking_apply_bg .apply-form{
}
.apply-form .cd-popup-container{
	width:80%;
	max-width: 1000px;
	margin-top:4%;
	height: auto;
	max-height:86%;
	overflow-y: scroll;
	border-radius:0px;
}
.apply-form .wdform_column .wdform-label{
	color:#666;
}
.apply-form .wdform_column .wdform-field{
	height: 85px;
}
.apply-form .wdform_section{
	padding:0px;
}
.apply-form.wdform-element-section .button-submit{
	width: 140px;
	background: #99594c;
	margin: 0px auto;
}
.apply-form .wdform-page-and-images{
	margin-top:-30px;
}
.apply-form .wdform_select{
	height:20px;
}


/*------------Traffic-------------------------*/
.traffic_content{
	
}
.traffic_content p{
	text-indent: 2em;
	font-size:1.5rem;
	line-height: 2.5rem;
}
.traffic_content .traffic_method p{
	text-indent: 0px;
}
.traffic_content .traffic_method h4{
	color:#99594c;
	font-size: 1.8rem;
	line-height: 2.8rem;
	margin-top:25px;
	margin-bottom: 15px;
}
.traffic_content .traffic_method h4 .traffic_gaotie,.traffic_feiji,.traffic_gaosu{
	width:28px;
	height: 28px;
	float: left;
	margin-right:10px;
	margin-left:5px;
}
.traffic_content .traffic_method h4 .traffic_gaotie{
	background:url(./images/s_icon.png) no-repeat 1px -2px;
}
.traffic_content .traffic_method h4 .traffic_feiji{
	background:url(./images/s_icon.png) no-repeat -1px -50px;
}
.traffic_content .traffic_method h4 .traffic_gaosu{
	background:url(./images/s_icon.png) no-repeat -1px -97px;
}
.traffic_dongshan p{
	text-indent: 0px;
}
.traffic_map{
	margin-top:50px;
	width:100%;
	height: 650px;
}

/*------nanshi  yu dongshan-----------*/
.nanshi_content{
	padding-bottom:40px;
}
.nanshi_content p{
	text-indent:2em;
	line-height:2.5rem;
}
.nanshi_content p strong{
	color:#99594c;
	font-weight:normal;
	font-size:2.4rem;
	line-height:4rem;
}
.nanshi_content .nanshi_content_title{
	border-bottom:1px solid #ccc;
	margin-bottom:30px;
}
.nanshi_content .nanshi_content_title p{
	text-align:center;
	margin-top:-15px;
	padding-bottom:5px;
}

/*----dong xia zhi feng------------------*/
.dongxia_content{
	margin-bottom:50px;
}
.dongxia_content p{
	/*text-indent:2em;*/
	line-height:2.7rem;
}
.dongxia_content p img{
	width:100%;
}
.dongxia_content h4{
	font-size:2.4rem;
	padding-top:10px;
	padding-bottom:10px;
	color:#99594c;
}

.dongxia_content .dongxia_scene{
	width:106%;
}
.dongxia_scene .scene_box{
	float:left;
	width:47%;
	margin-right:3%;
	position:relative;
	margin-bottom:25px;
	overflow: hidden;
}
.dongxia_scene .scene_box img{
	width:100%;
	height:160px;
	min-width:355px;
}
.dongxia_scene .scene_box .scene_box_close{
	position:absolute;
	right:-42px;
	top:-39px;
	background:url(./images/chahao.png);
	width:42px;
	height:39px;
	
}
.dongxia_scene .scene_one_txt{
	position:absolute;
	width:100%;
	bottom:0px;
	color:#fff;
	text-indent:10px;
	height:30px;
	line-height:30px;
	background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.8) 98%, #000 100%); 
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.8) 98%, #000 100%); 
} 
.dongxia_content .scene_box_big{
	padding:20px;
	height:445px;
}
.dongxia_content .scene_box_big img{
	float:left;
	width:auto;
	height:100%;
	max-width:62%;
}
.dongxia_content .scene_box_big .scene_box_big_txt h5{
	color:#99594c;
	font-size:1.6rem;
}
.dongxia_content .scene_box_big .scene_box_big_txt p{
	font-size:1.4rem;
	line-height:2rem;
	float:right;
	width:35%;
	text-align:left;
	margin:0px;
	padding:0px;
	margin-top:5px;
}
/*---pagination---*/
#pagination{
	float:right;
	height:34px;
	line-height:34px;
	font-size:1.5rem;
	color:#999;
	margin-bottom:50px;
}
#pagination .pages{
	float:left;
}
#pagination li{
	float:left;
	list-style-type:none;
	margin-left:5px;
	margin-right:5px;
}
#pagination li a{
	color:#999;
	width:32px;
	height:32px;
	border:1px solid #999;
	border-radius:17px;
	line-height:32px;
	text-align:center;
	font-size:1.6rem;
	display:block;
}
#pagination li .current{
	color:#fff;
	width:32px;
	height:32px;
	border:1px solid #99594c;
	background:#99594c;
	border-radius:17px;
	line-height:32px;
	text-align:center;
	font-size:1.6rem;
	display:block;
}

/*--弹出遮罩--*/
.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index:9999;
}
.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container {
    position: relative;
    max-width:1000px;
  	width:80%;
    /*margin:250px auto;*/
    margin:10% auto;
    height:445px;
    background: #FFF;
    border-radius: .4rem .4rem .4rem .4rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-popup-close{ 
	position: absolute;
	right:10px;
	top:10px; 
	z-index: 10;
	width:auto;
	height:1.25rem; 
	display: block;
	font-size:14px;
}
.is-visible .cd-popup-container {
	-webkit-transform:scale(1);
	-moz-transform:scale(1); 
	-ms-transform:scale(1); 
	-o-transform:scale(1); 
	transform:scale(1);
}

/*-----huo dong yu gao list page css*/
.neiye_warpper .neiye_hdyg{
	margin-left:20px;
}
.neiye_title{
	font-size:2.4rem;
	line-height:4rem;
	margin-top:1rem;
}
.neiye_list_ul{
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:0px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	float:left;
}
.neiye_list_ul li{
	line-height:23px;
	color:#333;
	width:100%;
	color:#ccc;
	list-style-type:none;
	float:left;
}
.neiye_hdyg .neiye_list_ul li span{
	width:100%;
}
.neiye_hdyg .neiye_list_ul li span a{
	color:#555;
	font-size:1.5rem;
	width:77%;
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.neiye_hdyg .neiye_list_ul li span a:hover{
	color:#99594c;
}
.neiye_hdyg .neiye_list_ul li span label{
	color:#999;
	width:18%;
	float:right;
	text-align:right;
	margin-top:-2.3rem;
	font-size:1.4rem;
	font-family:"Microsoft Yahei";
	font-weight:normal;
}
.neiye_hdyg .neiye_list_ul li label{
	color:#ccc;
	font-size:1.8rem;
	width:4%;
	display:inline;
	float:left;
}

/*---cheng guo zhan shi list page----*/
.neiye_warpper .neiye_cgzs{
	background:red;
}
.neiye_cgzs .neiye_cgzs_box{
	padding:10px;
}
.neiye_cgzs_box .cgzs_box{
	border:1px solid #ccc;
	margin-top:10px;
}
.neiye_cgzs_box .cgzs_box img{
	width:100%;
	height:200px;
}
.neiye_cgzs_box .cgzs_box .cgzs_txt{
	text-indent:15px;
}
.neiye_cgzs_box .cgzs_box .cgzs_txt h6{
	font-size:1.9rem;
	padding-top:10px;
	padding:0px;
}
.neiye_cgzs_box .cgzs_box .cgzs_txt h6 a{
	color:#000;
	font-weight:normal;
	width:98%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.neiye_cgzs_box .cgzs_box .cgzs_txt h6 a:hover{
	color:#99594c;
	text-decoration:underline;
}
.neiye_cgzs_box .cgzs_box .cgzs_txt label{
	color:#aaa;
	font-size:1.3rem;
	font-weight:normal;
	font-family:"Microsoft Yahei";
	padding-bottom:7px;
	padding-top:3px;
}


/*-----duo yuan wen hua list page css--------------*/
.neiye_warpper .neiye_dywh{
	margin-top:25px;
}
.neiye_dywh .neiye_dywh_box{
	padding:0px;
	padding-left:5px;
	padding-right:5px;
}
.neiye_dywh .neiye_dywh_box .dywh_box{
}
.dywh_box .dywh_box_title{
	position:relative;
}
.dywh_box .dywh_box_title img{
	width:100%;
}
.dywh_box .dywh_box_title a{
	position:absolute;
	right:15px;
	line-height:40px;
	top:0px;
	color:#666;
}
.dywh_box .dywh_box_title a:hover{
	text-decoration:underline;
	color:#99594c;
}
.dywh_box .neiye_list_ul{
	list-style-type:none;
	padding:0px;
	float:left;
	width:100%;
	padding-top:15px;
	padding-bottom:10px;
	min-height:200px;
	border:none;
} 
.dywh_box .neiye_list_ul li{
	float:left;
	width:98%;
}
.dywh_box .neiye_list_ul li label{
	font-size:1.8rem;
	color:#ccc;
	float:left;
	margin-right:4px;
}
.dywh_box .neiye_list_ul li span label{
	font-family:"Microsoft Yahei";
	font-size:1.3rem;
	font-weight:normal;
	float:right;
	text-align:right;
}
.dywh_box .neiye_list_ul li span a{
	width:75%;
	display:block;
	float:left;
	overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#555;
}
.dywh_box .neiye_list_ul li span a:hover{
	color:#99594c;
	text-decoration:underline;
}

/*-----fo jiao li shi list page css-----------------*/
.neiye_warpper .neiye_fjls{
}
.neiye_fjls .neiye_list_ul{
	float:left;
}
.neiye_fjls .neiye_list_ul li{
	float: left;
	width:100%;
}
.neiye_fjls .neiye_list_ul li label{
	font-size: 1.8rem;
	float:left;
}
.neiye_fjls .neiye_list_ul .title_span label{
	font-family: "Microsoft Yahei";
	font-weight: normal;
	font-size: 1.4rem;
	float:right;
}
.neiye_fjls .neiye_list_ul .cat_span a{
	display: block;
	float: left;
	color:#555;
	margin-left:5px;
	margin-right: 5px;
}
.neiye_fjls .neiye_list_ul .cat_span a:hover{
	color:#99594c;
	text-decoration: underline;
}
.neiye_fjls .neiye_list_ul .title_span a{
	display: block;
	float:left;
	width:70%;
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
	color:#555;
}
.neiye_fjls .neiye_list_ul .title_span a:hover{
	color:#99594c;
	text-decoration: underline;
}
.neiye_fjls .neiye_sec_title{
	float:right;
	font-size:1.5rem;
}
.neiye_fjls .neiye_sec_title .on{
	color:#99594c;
	border-bottom:2px solid #99594c;
	height:50px;
}
.neiye_fjls .neiye_sec_title a{
	color:#555;
	float:left;
	margin-left:10px;
	display:block;
	height:50px;
}
.neiye_fjls .neiye_sec_title a:hover{
	color:#99594c;
	border-bottom:2px solid #99594c;
	height:50px;
}

/*----sheng huo jian ying list page css------*/
.neiye_warpper .neiye_shjy{
	margin-top:15px;
}
.neiye_warpper .neiye_shjy .neiye_shjy_box{
	padding:8px;
}
.neiye_shjy .shjy_one .shjy_one_img{
	height:160px;
	overflow:hidden;
}
.neiye_shjy .shjy_one .shjy_one_txt{
	text-align:center;
	color:#555;
	line-height:30px;
	font-size:1.5rem;
}
.neiye_shjy .shjy_one img{
	max-width:110%;
}
.neiye_shjy .cd-popup-container{
	width:80%;
	max-width: 1000px;
	height:auto;
	/*margin:10% auto;*/
	margin:5% auto;
    background:rgba(0, 0, 0, 0.5);
    border:none;
    box-shadow:none;
}
.neiye_shjy .cd-popup-container img{
	/*max-width:100%;*/
	max-width: 80%;
}
.neiye_shjy .shjy_box_big{
	width:auto;
	background:none;
}

/*----wen jian xia zai list page css--------*/
.neiye_xiazai{
	margin-top:20px;
	float: left;
	width: 100%;
}
.neiye_xiazai .neiye_shuji{
	
}
.neiye_xiazai .neiye_xiazai_title{
	font-size: 2.3rem;
	line-height: 4rem;
	border-bottom:1px solid #ccc;
	height:4rem;
	width:98%;
	margin-left:1%;
}
.neiye_xiazai .neiye_xiazai_title .on{
	color:#99594c;
	border-bottom:2px solid #99594c;
	height: 4rem;
}
.neiye_xiazai .neiye_xiazai_title a{
	color:#555;
	padding-left:10px;
	display: block;
	float:left;
	padding-right: 10px;
}
.neiye_xiazai .neiye_xiazai_title a:hover{
	border-bottom:2px solid #99594c;
	height: 4rem;
}
.neiye_xiazai .neiye_xiazai_one{
	padding:5px;
	padding-top: 25px;
}
.neiye_xiazai .neiye_xiazai_one .neiye_xiazai_box{
	text-align: center;
}
.neiye_xiazai .neiye_xiazai_one .neiye_xiazai_box label{
	display: block;
	color:#555;
	font-size: 1.4rem;
	line-height: 4rem;
	font-weight: normal;
}
.neiye_xiazai .neiye_xiazai_one .neiye_xiazai_box a{
	background:#f7f7f7;
	display: block;
	border:1px solid #eee;
	width:110px;
	height: 25px;
	margin: 0px auto;
	margin-top:-5px;
	border-radius: 3px;
	color:#888;
	font-size: 1.3rem;
	line-height:25px;
}
.neiye_xiazai .neiye_xiazai_one .neiye_xiazai_box a:hover{
	background:#99594c;
	color:#fff;
}
.neiye_xiazai .neiye_xiazai_one .neiye_shuji_box img{
	max-width:130px;
	max-height: 180px;
	width:90%;
	box-shadow: 2px 2px 1px 1px #888;
}
.neiye_xiazai .neiye_xiazai_one .neiye_yinyue_box .neiye_yinyue_img{
	position: relative;
}
.neiye_xiazai .neiye_xiazai_one .neiye_yinyue_box .neiye_yinyue_img img{
	width:100%;
	max-width: 155px;
	max-height: 155px;
}
.neiye_yinyue_img .neiye_yinyue_icon{
	position: absolute;
	width: 30px;
	height: 30px;
	bottom:10px;
	left:10%;
}
.neiye_xiazai .neiye_xiazai_one .neiye_shipin_box .neiye_shipin_img{
	position: relative;
}
.neiye_xiazai .neiye_xiazai_one .neiye_shipin_box .neiye_shipin_img img{
	width:100%;
	max-width: 220px;
	max-height: 150px;
}
.neiye_shipin_img .neiye_shipin_icon{
	position: absolute;
	width: 30px;
	height: 30px;
	bottom:10px;
	left:7%;
}

/*---yi gong zhao mu form page css-------------*/
.neiye_yigong{
	
}
.neiye_yigong h1{
	color:#99594c;
	font-size: 3.2rem;
	padding-top:30px;
	padding-bottom: 0px;
}
.neiye_yigong .wdform_column .wdform-label{
	color:#666;
}
.neiye_yigong .wdform_column .wdform-field{
	height: 85px;
}
.neiye_yigong .wdform_section{
	padding:0px;
}
.neiye_yigong .wdform-element-section .button-submit{
	width: 130px;
	background: #99594c;
	position: absolute;
	left: 10px;
}

/*Person nan  huai jin*/
.renwu_nav_bg{
	background:#462c2c;
}
.renwu_nav_bg .navbar-nav{
	width:100%;
	margin:0px auto;
}
.renwu_nav_bg .navbar-nav li{
	width:11%;
	float:left;
}
.renwu_nav_bg .navbar-nav li a p{
	margin-bottom:0px;
}
.renwu_nav_bg .navbar-nav li a{
	padding-top:15px;
	padding-bottom:15px;
	line-height:auto;
	text-align:center;
	color:#fff;
	font-size:1.6rem;
}
.renwu_nav_bg .navbar-nav li a:hover{
	background:#99594c;
	transition: all 100ms;
}
.renwu .col-md-2,
.renwu .col-md-3,
.renwu .col-md-4,
.renwu .col-md-5,
.renwu .col-md-6,
.renwu .col-md-7,
.renwu .col-md-9,
.renwu .col-md-10,
.renwu .col-md-12{
	padding:0px;
}

.renwu .renwu_more{
	color:#99594c;
}
.renwu .renwu_more:hover{
	text-decoration: underline;
}

.renwu_intro{
	padding-top:20px;
	padding-bottom:20px;
	background:#f4efe8;
	margin-top:20px;
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.renwu_intro p{
	text-indent: 2em;
}
.renwu_intro .renwu_intro_left{
	border-right:1px solid #ccc;
	display:block;
	min-height:155px;
}
.renwu_intro_right a{
	display: inline;
	float: left;
	margin-left:40%;
	margin-top:-34px;
	font-size: 1.6rem;

}
.renwu_small_header{
	margin-top:20px;
	margin-bottom: 20px;
	background:#462c2c;
	height: 40px;
	width:100%;
}
.renwu_small_header img{
	float:left;
	padding-top:11px;
	padding-left:15px;
	padding-right:7px;
}
.renwu_small_header h5{
	padding:0px;
	margin:0px;
	color:#fff;
	font-weight:100;
	font-size:1.8rem;
	line-height: 40px;
}
.renwu_taoli .renwu_taoli_top{
}
.renwu_taoli .col-md-3 img{
	width:100%;
}
@media only screen and  (max-width: 992px){
	.renwu_taoli .col-md-3{
		padding:5px;
	}
	.renwu_taoli .col-md-3 img{
		width:100%;
	}
	.renwu_intro_right a{
		display: block;
		float: left;
		margin:0px;
	}
}
.renwu_taoli_top .col-md-9{
	padding-left:20px;
}
@media only screen and  (max-width: 768){
 .renwu_taoli_top .col-md-9{
	 padding-left:5px;
	 padding-right: 5px;
}
}
.renwu_taoli_top .col-md-9 h6 a{
	font-size:1.8rem;
	font-weight:normal;
	color:#99594c;
}
.renwu_taoli_top .col-md-9 p{
	font-size:1.4rem;
	margin:10px 0px;
	line-height:22px;
	font-weight:normal;
	text-indent:2em;
}
.renwu_taoli_top .renwu_more{
	display: inline;
	float: left;
	margin-left: 100px;
	margin-top:-30px;
}
@media only screen and  (max-width: 992px){
	.renwu_taoli_top .renwu_more{
		display: block;
		margin: 0px;
	}
}
.renwu_taoli .renwu_taoli_list{
	float:left;
	width:100%;
	margin-top:10px;
	padding-top:20px;
	border-top:1px dashed #ccc;
}
.renwu_taoli_list .col-md-2,
.renwu_taoli_list .col-sm-4,
.renwu_taoli_list .col-xs-6{
	padding:5px;
}
.renwu_taoli_list img{
	width:95%;
	padding:5px;
	border:1px solid #ccc;
	height: auto;
}
.renwu_taoli_list p{
	font-size:1.4rem;
	font-weight:normal;
	color:#999;
	margin:0px;
}
.renwu_taoli_list label{
	width:95%;
	display:block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color:#99594c;
}
.renwu_taoli_list label a{
	font-size:1.6rem;
	font-weight:normal;
	color:#99594c;
}
.renwu_taoli_list label a:hover{
	text-decoration:underline;
}

.renwu_houshi .renwu_houshi_top{
}
.renwu_houshi .col-md-2 img{
	width:95%;
}
@media only screen and  (max-width: 992px){
	.renwu_houshi .col-md-2{
		padding:5px;
	}
	.renwu_houshi .col-md-2 img{
		width:100%;
	}
}
.renwu_houshi .renwu_houshi_top .col-md-10{
	padding-left:5px;
}
.renwu_houshi .renwu_houshi_top .col-md-10 h5 a{
	color:#99594c;
	font-weight:100;
	font-size:1.8rem;
	font-weight:normal;
}
.renwu_houshi .renwu_houshi_top .col-md-10 h5 a:hover{
	text-decoration:underline;
}
.renwu_houshi .renwu_houshi_top .col-md-10 p{
	font-size:1.4rem;
	margin:10px 0px;
	line-height:22px;
	font-weight:normal;
	text-indent:2em;
}
.renwu_houshi .renwu_houshi_list{
	width:100%;
	float:left;
	margin-top:10px;
	border-top:1px dashed #ccc;
	padding-top:20px;
}
.renwu_houshi .renwu_houshi_list .col-md-3{
	padding:5px;
}
.renwu_houshi .renwu_houshi_list .col-md-3 img{
	width:100%;
}
.renwu_houshi .renwu_houshi_list .col-md-3 label a{
	font-size:1.6rem;
	font-weight:normal;
	color:#99594c;
	display:block;
	margin-top:5px;
}
.renwu_houshi .renwu_houshi_list .col-md-3 label a:hover{
	text-decoration:underline;
}
.renwu_gaopeng .col-md-5 img{
	width:100%;
	max-width: 365px;
}
@media only screen and  (max-width: 992px){
	.renwu_gaopeng .col-md-5{
		text-align: center;
	}
}
.renwu_gaopeng .renwu_gaopeng_list{

}
.renwu_gaopeng .renwu_gaopeng_list p{
	display: inline;
}
.renwu_gaopeng .renwu_gaopeng_list .renwu_gaopeng_lbox{
	border-bottom:1px dashed #ccc;
	padding-bottom:5px;
}
.renwu_gaopeng .renwu_gaopeng_list h6 a{
	font-size:1.6rem;
	font-weight:normal;
	color:#99594c;
}
.renwu_gaopeng .renwu_gaopeng_list h6 a:hover{
	text-decoration:underline;
}
.renwu_gaopeng .renwu_gaopeng_list p{
	font-size:1.4rem;
	font-weight:normal;
	margin:0px;
	line-height:25px;
}
@media only screen and  (max-width: 992px){
	.renwu_huiren .col-md-5{
		text-align: center;
	}
}
.renwu_huiren .renwu_zhushu_list{
	float:left;
	width:100%；
}
.renwu_zhushu_list .renwu_zhushu_lbox img{
	width:95%;
	border:1px solid #ccc;
}
.renwu_zhushu_list .renwu_zhushu_lbox a{
	font-size:1.46rem;
	display:block;
	margin-top:10px;
	color:#99594c;
	font-weight:normal;
}
.renwu_zhushu_list .renwu_zhushu_lbox a:hover{
	text-decoration:underline;
}
.renwu_huiren .col-md-5{
	padding:5px;
}
.renwu_huiren .col-md-5 img{
	width:95%;
}
.renwu_huiren .col-md-7{
	padding:5px;
}
.renwu_huiren .renwu_huiren_list .renwu_gaopeng_lbox{
	width:100%;
	border-bottom:1px dashed #ccc;
	padding-bottom:5px;
}
.renwu_huiren .renwu_huiren_list h6 a{
	font-weight:normal;
	color:#99594c;
	font-size:1.6rem;
}
.renwu_huiren .renwu_huiren_list p{
	font-size:1.4rem;
	font-weight:normal;
	margin:0px;
	display: inline;
}
.renwu_huiren .renwu_huiren_list .renwu_more{
	line-height:29px;
}

.renwu_zhaopian .bx-wrapper{
	width:100%;
	margin-left:5px;
}
.renwu_zhaopian .bx-wrapper .bx-pager{
	display:none;
	padding:0px;
}
.renwu_zhaopian .bx-wrapper .bx-viewport{
	border:none;
	background:none;
	box-shadow:none;
}
.renwu_zhaopian .bx-wrapper .bx-viewport{
	left:0px;
}
.renwu_shipin .renwu_shipin_box{
	position: relative;
}

.renwu_shipin_box img{
	width:100%;
}
.renwu_shipin_box .renwu_shipin_block{
	position: absolute;
	z-index: 2;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #99594c;
	filter: alpha(opacity=80);
	opacity:0.8;
}
.renwu_shipin_box .renwu_shipin_block a{
	color:#fff;
	font-size: 1.5rem;
	font-weight: normal;
	padding-left: 10px;
}
.renwu_shipin_box .renwu_shipin_block a:hover{
	text-decoration: underline;
}

.renwu_shipin_box .renwu_shipin_video img{
	width:auto;
	margin-top:20%;
}
.renwu_shipin_box .renwu_shipin_video{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
	z-index:1;
	text-align: center;
}
.renwu_shipin .rshb1 img,
.renwu_shipin .rshb2 img,
.renwu_shipin .rshb3 img,
.renwu_shipin .rshb4 img{
	padding-right:10px;
}
.renwu_shipin .rshb1 .renwu_shipin_block,
.renwu_shipin .rshb2 .renwu_shipin_block,
.renwu_shipin .rshb3 .renwu_shipin_block,
.renwu_shipin .rshb4 .renwu_shipin_block{
	border-right:10px solid #fff;
}
.renwu_shipin .rshb2,
.renwu_shipin .rshb3,
.renwu_shipin .rshb4{
	margin-top:10px;
}
.renwu_shipin .rshb5 img,
.renwu_shipin .rshb6 img,
.renwu_shipin .rshb7 img{
	
}
.renwu_shipin .rshb6,
.renwu_shipin .rshb7{
	margin-top:10px;
}
.renwu_dadao{
	
}
.renwu_dadao .renwu_dadao_box{
	margin-left:5%;
	margin-right: 5%;
	margin-bottom: 15px;
}
.renwu_dadao .renwu_dadao_box img{
	width:100%;
}
.renwu_dadao .renwu_dadao_box a{
	font-size: 1.5rem;
	font-weight: normal;
	color:#99594c;
	line-height: 40px;
}
.renwu_dadao .renwu_dadao_box a:hover{
	text-decoration: underline;
}

.renwu_kuozhan{
	padding:3px;
	border:1px solid #ccc;
	width:97%;
	margin-bottom:20px;
}
@media only screen and  (max-width: 992px){
	.renwu_kuozhan{
		width:100%;
	}
}
.renwu_kuozhan img{
	width: 35%;
	height: 110px;
	float: left;
}
.renwu_kuozhan .renwu_k_txt{
	float:right;
	width:63%;
}
.renwu_kuozhan .renwu_k_txt h5{
	font-size: 1.6rem;
	font-weight: normal;
	color:#99594c;
	margin-top:5px;
	margin-bottom:10px;
}
.renwu_kuozhan .renwu_k_txt p{
	font-size: 1.3rem;
	line-height: 20px;
	display:inline;
}
.renwu_kuozhan .renwu_more{
	float:right
}
.renwu_floatL{
	float:left;
}
.renwu_floatR{
	float: right;
}

/*Person end*/

/* Scroll To Top ---------------------------------*/
.enigma_scrollup {
	width: 45px;
	height: 40px;
	opacity: 0.5;
	position: fixed;
	bottom: 100px;
	right: 30px;
	display: none;
	border-radius: 2px;
	text-align: center;
	color: #fafafa;
	font-size: 25px;
	background: #3b3b3b;
	z-index: 9999;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.enigma_scrollup i {
	line-height: 38px;
	font-size: 24px;
	vertical-align: middle;
}
.enigma_scrollup:hover {
	opacity: 0.8;
}
a.enigma_scrollup:hover i, a.enigma_scrollup:focus i {
	text-decoration: none;
	color: #fafafa;
	outline: none;
}
/* Scroll To Top  End-----------------------------------------------------*/

/*--Nav fixed top begin--------------------------------*/
.affix{
	height:110px;
}
.affix .navbar-default .navbar-nav > li > a{
	padding-left:25px;
	padding-right:20px;
	padding-bottom: 3px;
}
.affix .navbar-default .navbar-nav > li > a:hover{
}
.affix .header_img{
	display:none;
}
.affix .menu_center_logo{
    padding:0px;
    margin-top:60px;
}
.affix .menu_center_logo a{
	display: block;
	position: absolute;
	z-index: 2;
}
/*--Nav fixed top end-----------------------------*/