@media (min-width:1200px) {
	.enigma_gallery_page .col-md-3{
	width:25%;
	}
	.navbar {
	margin-bottom: 0px; 
	margin-bottom:-10px;
	}
	#enigma_nav_top.affix {
    position: fixed;
    top: 0;
    width: 100%;
	border-bottom: 2px solid #F7F5F5;
	z-index: 9999;
		height:120px;
		margin-top:-30px;
	}
	
	.carousel-caption {
	top: 25%;
	}
	.boxed .carousel-caption {
	top: 20%;
	}
	
}

@media (min-width:992px) and (max-width:1199px) {
	#enigma_nav_top.affix {
    position: fixed;
    top: 0;
    width: 100%;
	border-bottom: 2px solid #F7F5F5;
	z-index: 99997;
	left: 0;
	}
	.navbar-default .navbar-nav > li > a{
		padding-left:7px;
		padding-right:8px;
	}
	
} 

/* This Media screen css called for All Hc Pages Element---------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 960px) and (max-width: 1200px) {

	.enigma_gallery_page .col-md-3{
		width:25%;
	}
	.post-content-wrap {
		width:83%;
	}
	.post-content-wrap-right {
		width:83%;
	}
	.navbar {
	margin-bottom: 0px; 

	}
	#enigma_nav_top.affix {
    position: fixed;
    top: 0;
    width: 100%;
	border-bottom: 2px solid #F7F5F5;
	z-index: 99997;
	left: 0;
	margin-top:-10px;
	padding-bottom: 10px;
	}

	#enigma_nav_top.affix a{
		margin-top:-10px;
	}
	.enigma_gallery_blog{
	width: 33.3%;
	margin-right: 0;
	margin-bottom: 0;
	float: left;
	}
  
	
}	
@media only screen and (min-width: 767px) and (max-width: 992px) {
	.visit_section .visit_block .visit_txt{
	   left:12px;
   }
	.reco_yy_block .reco_yy_txt h5{
		font-size: 1.5rem;
	}
	#enigma_nav_top.affix {
	    position: fixed;
	    top: 0;
	    width: 100%;
		border-bottom: 2px solid #F7F5F5;
		z-index: 99997;
		left: 0;
		margin-top:-10px;
		padding-bottom: 10px;
	}
	#enigma_nav_top.affix a{
		margin-top:-10px;
	}
	.navbar-default .navbar-nav > li > a{
		padding-left: 0px;
		padding-right:0px;
    }
	.affix .navbar-default .navbar-nav > li > a{
		padding-left:10px;
		padding-right:10px;
	}
	
	
.logo{
	text-align:center;
	padding-top:15px;
	padding-bottom:0px;
	}
	.head-contact-info{
	display: block;
	text-align: center;
	padding-top:5px;
	padding-bottom:2px;
	padding-left:0;
}

	.social{
	display: block;
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 0px;
	}
	.navbar-default .navbar-nav > li > a{
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 6px;
	padding-right: 6px;
	text-transform: uppercase;
	font-weight: 600;
	font-size:15px;
	}
	.navbar {
		margin-bottom: 0px; 

	}
	#enigma_nav_top.affix {
    position: fixed;
    top: 0;
    width: 100%;
	border-bottom: 2px solid #F7F5F5;
	z-index: 99997;
	left: 0;
	}
	.carousel-caption{
	top:40px;
	}
	.carousel-text h1 {
	font-size: 1.4em;
	padding:10px;
	}
	.carousel-list li {
	color: #fff;
	font-size: 0.9em;
	margin-bottom: 10px;
	overflow: hidden;
	font-weight: 600; 
	text-transform: uppercase;
	}
	.carousel-list {
	top: 60px;
	margin: 0px auto;
	}
	.enigma_callout_area{
		text-align:center;
	}
	.enigma_callout_area p{
		margin-bottom:20px;
		padding:0px;
	}
	.enigma_callout_btn {
	float: none;	
	}
	
	/*** blog full width **/
	.enigma_sidebar_left_side{

	float:none;

	}
	.enigma_blog_right_side{
	float:none;
	}
	.post-content-wrap {
	width:100%;
	}
	.post-content-wrap-right {
	width:100%;
	}
	.blog-date-left{
		display:flex;
		margin-bottom: 0px;
	}
	.blog-date-right{
		display:flex;
		margin-bottom: 0px;
	}
	
	.enigma_fuul_blog_detail_padding {
		padding-left: 0px;
		padding-top:20px;
	}
	.enigma_blog_full .enigma_blog_thumb_wrapper_showcase {
		margin-bottom: 0px;
	}
	.navbar-collapse {
     max-height: none;
	 }
	 .enigma_project_section .caroufredsel_wrapper{
		height: 350px !important;
	 }
	 .enigma_client_area .caroufredsel_wrapper{
		height: 250px !important;
	 }
	 .enigma_project_detail_related_projet .caroufredsel_wrapper{ 
		height: 350px !important;
	 }
	 /** enigma footer  copyright area ***/
	 .enigma_footer_area{
	 text-align:center;
	 }
	 .enigma_footer_copyright_info{
		float:none;
	}
	.enigma_footer_social_div{
		float:none;
	}
	/** contact us page **/
	.enigma_contact_form_fields{
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-right: 0px solid #E5E5E5;
	}
	.enigma_contact_info{
		padding-left: 15px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	/* gallery */
	.enigma_gallery_blog{
	width: 33.3%;
	margin-right: 0;
	margin-bottom: 0;
	float: left;
	}
	.carousel-indicators{
		display:none;
	}
	.carousel-text .enigma_blog_read_btn{
		display:none;
	}
	.carousel-caption {
	top: 20%;
	}
}

@media screen and (max-width: 767px){
	.header_img{
	    display: none;
	}
	.navigation_menu  .menu_center_logo{
		margin-top: 10px;
	}
	.navigation_menu .menu_center_logo img{
		width:100px;
		height: auto;
		margin-top:10px;
	}
	.navbar-default .navbar-nav > li{
		width:100%;
		display: block
	}
	.navigation_menu .navbar #menu{
		margin-top:0px;
		float:none;
	}
	.affix{
		height: auto;
	}
	.dropdown-menu-ul > li > a > img{
		display: none;
	}
	.navbar-default .navbar-nav > .open > a > p:after{
		display: none;
	}
	.dropdown-menu-ul > li > a > p{
		color:#99594c;
	}
	.navbar-default .navbar-nav > .open > a > p{
	   border:none;
	}
	.navbar-default .navbar-nav > li {
		margin:0px auto;
		text-align: center;
	}
	.navbar-default .navbar-nav > li a p{
		font-weight: bold;
		font-size:1.9rem;
		display: inline;
	}
	.navbar-default .fa-angle-down{
		display: inline;
		text-align: left;
		float: none;
		margin-left:10px;	
	}
	.navbar-default .navbar-nav > li a p:hover{
		border:none
	}
	.navbar-default .navbar-nav > li > a:hover > p{
		border:none;
	}
	.navbar-default .navbar-nav > li > a{
		border-top: 1px solid #eee;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		border-bottom:1px solid #99594c;
	}
	.dropdown{
		position: relative;
	}
	.nav > li{
		position:relative ;
	}
	.dropdown-menu {
		opacity:1;
		background:#fff;
		border:none;
		width:100%;
		box-shadow: none;
	}
	.dropdown-menu-ul > li{
		float: none;
		line-height: 50px;
		width:100%;
	}
	.dropdown-menu-ul{
		background:#fff;
		padding:0px;
	}
	.dropdown-menu-ul > li{
		float: none;
		line-height: 50px;
		width:100%;
	}
	.dropdown-menu-ul > li > a{
	}

	.dropdown-menu-ul > li > a > br {
		display: none;
	}
	.dropdown-menu-ul > li > a:hover p{
		border:none;
	}

	.dropdown-menu-ul > li > a:hover,
	.dropdown-menu-ul > li > a:focus {
	  color: #99594c;
	  text-decoration: none;
	  background-color: #eee;
	  border-bottom: 1px solid #99594c;
	}

	.dropdown-menu > .active > a,
	.dropdown-menu > .active > a:hover,
	.dropdown-menu > .active > a:focus {
	  color: #333;
	  text-decoration: none;
	  background-color: #fff;
	  outline: 0;
	}
	.recommend_section .recommend_tab{
	  width:265px;
	}
	.reco_yy_block .reco_yy_txt h5 a{
		font-size: 1.2rem;
	}
	.ca_content .ca_content_img img{
		max-height: 250px;
	}
	.neiye_cgzs_box .cgzs_box .cgzs_txt h6{
		font-size:1.5rem;
	}
	


	.booking_apply_bg .booking_apply{
		width:100%;
	}
	.visit_section .visit_block{
		margin-bottom:10px;
	}
	.cultural_section .cultural_activity .ca_content_img img{
		width:100%;
	}
	.cultural_section .cultual_news{
		float: left;
		width:100%;
	}
	.cultual_news .cn_content .cn_content_list a{
		width:79%;
	}
	.dharma_section .dharma_content ul{
		max-height: 300px;
		padding:0px;
	}
   .reco_yy_block .reco_yy_txt h5{
		font-size: 1.3rem;
	}
	.reco_yy_block .reco_yy_txt p{
		font-size:1.1rem;
	}
	.dharma_section .dharma_content li a{
		font-size: 1.5rem;
	}
	.recommend_section .recommend_tab li label{
		font-size: 2rem;
		margin-left:3px;
		margin-right: 3px;
	}
	.dongxia_content .dongxia_scene{
		width:100%;
	}
	.dongxia_scene .scene_box{
		width:48%;
		margin-right:1%;
		margin-left:1%;
	}
	.dongxia_content .scene_box_big{
		height: auto;
		width:100%;
		float:none;
	}
	.dongxia_content .scene_box_big img{
		float: none;
	}
	.dongxia_content .scene_box_big .scene_box_big_txt p{
		width:100%;
		float:none;
		font-size: 1.2rem;
	}
	.neiye_hdyg .neiye_list_ul li span a{
		width:60%;
	}
	.neiye_hdyg .neiye_list_ul li span label{
		width:30%;
	}
	.wdform_section .wdform_column:last-child {
	   	padding:0px;
	}
	.footer_bg .footer_below p{
		line-height: 10px;
		font-size: 1.3rem
	}
	.footer_bg .footer_below p span{
		width:100%;
		display: block;
		line-height: 1.6rem;
	}
	.footer_bg .footer_below p{
		line-height: 10px;
		font-size: 1.3rem
	}
	.footer_bg .footer_below p span{
		width:100%;
		display: block;
		line-height: 1.6rem;
	}
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
	.footer_section .footer_top dl{
		margin-left:-5px;
		margin-right:-5px;
	}
	.footer_section .footer_top dt{
		font-size:1.4rem;
	}
	.footer_section .footer_top dd{
		font-size: 1.3rem;
		line-height: 20px;
	}
	.footer_section .footer_below p{
		font-size:1.2rem;
	}
.dropdown-menu{
width:100%;
float:none;
position:static !important;
}
.logo{
	text-align:center;
	padding-top:15px;
	padding-bottom:0px;
	}
	.head-contact-info{
	display: block;
	text-align: center;
	padding-top:5px;
	padding-bottom:2px;
	padding-left:0;
}
	.social{
	display: block;
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 0px;
	}
	.carousel-caption{
	top:15px;
	}
	.carousel-text h1 {
	font-size: 1.2em;
	padding:10px;
	}
	.carousel-list li {
	color: #fff;
	font-size: 12px;
	line-height:16px;
	margin-bottom: 10px;
	overflow: hidden;
	font-family: 'Abel',sans-serif;
	text-transform: uppercase;
	}
	.carousel-list {
	top: 60px;
	margin: 0px auto;
	}
	
	.enigma_callout_area{
		text-align:center;
	}
	.enigma_callout_area p{
		margin-bottom:20px;
		padding:0px;
	}
	.enigma_callout_btn {
	float: none;	
	}
	/**** blog full width: ***/
	.enigma_sidebar_left_side{

		float:none;

	}
	.enigma_blog_right_side{
		float:none;
	}
	
	.post-content-wrap {
	width:100%;
	}
	.post-content-wrap-right {
	width:100%;
	}
	.blog-date-left{
		display:flex;
		margin-bottom: 0px;
	}
	.blog-date-right{
		display:flex;
		margin-bottom: 0px;
	}
	.enigma_fuul_blog_detail_padding {
		padding-left: 0px;
		padding-top:20px;
	}
	.enigma_blog_full .enigma_blog_thumb_wrapper_showcase {
		margin-bottom: 0px;
	}
	.navbar-collapse {
     max-height: none;
	 }
	 .enigma_project_section .caroufredsel_wrapper{
		height: 350px !important;
	 }
	 .enigma_client_area .caroufredsel_wrapper{
		height: 260px !important;
	 }
	 .enigma_project_detail_related_projet .caroufredsel_wrapper{ 
		height: 350px !important;
	 }
	 
	/*** comment section **/
	.enigma_comment_box .media-body {
	float: left;
	}
	/** enigma footer  copyright area ***/
	 .enigma_footer_area{
	 text-align:center;
	 }
	 .enigma_footer_copyright_info{
		float:none;
	}
	.enigma_footer_social_div{
		float:none;
	}
	/** contact us page **/
	.enigma_contact_form_fields{
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-right: 0px solid #E5E5E5;
	}
	.enigma_contact_info{
		padding-left: 15px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	/* gallery */
	.enigma_gallery_blog{
	width: 49.9%;
	margin-right: 0;
	margin-bottom: 0;
	float: left;
	}
	.carousel-indicators{
		display:none;
	}
	.carousel-text .enigma_blog_read_btn{
		display:none;
	}
	.carousel-caption {
	top: 20%;
	}
} 

@media only screen and (min-width: 200px) and (max-width: 600px) {
	.ca_content .ca_content_img img{
		max-height: 220px;
	}
.dropdown-menu{
width:100%;
float:none;
position:static !important;
}
	/*.carousel-list li {	display:none; } */	
.carousel-text h1 {
margin: 0 0 0px 0;
padding: 5px;
font-size: 7px;
color: #fff;
text-transform: uppercase;
text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
line-height: .line-height: 8px;;
}
.carousel-text .enigma_blog_read_btn {
font-size: 7px;
display: inline-block;
padding: 3px;;
}


	.carousel-list li {
	font-size: 7px;
overflow: hidden;
padding: 5px;
line-height: 8px;
display: block;
	color: #fff;
	font-size: 8px;
	line-height:8px;
	margin-bottom: 5px;
	overflow: hidden;
	font-family: 'Abel',sans-serif;
	text-transform: uppercase;
	}
	
	/* .carousel-caption{
	top:10px;
	} */
	
	
	/*** blog full width **/
	.enigma_sidebar_left_side{

	float:none;

	}
	.enigma_blog_right_side{
	float:none;
	}
	
	.blog-date-left{
		display:flex;
		margin-bottom: 0px;
	}
	
	.blog-date-right{
		display:flex;
		margin-bottom: 0px;
	}
	
	.post-content-wrap {
	width:100%;
	}
	.post-content-wrap-right {
	width:100%;
	}
	.enigma_fuul_blog_detail_padding {
		padding-left: 0px;
		padding-top:20px;
	}
	.enigma_blog_full .enigma_blog_thumb_wrapper_showcase {
		margin-bottom: 0px;
	}
	.navbar-collapse {
     max-height: none;
	 }
	.enigma_project_section .caroufredsel_wrapper{
		height: 400px !important;
	 }
	 .enigma_project_detail_related_projet .caroufredsel_wrapper{ 
		height: 400px !important;
	 }
	 /** enigma footer  copyright area ***/
	 .enigma_footer_area{
	 text-align:center;
	 }
	 .enigma_footer_copyright_info{
		float:none;
	}
	.enigma_footer_social_div{
		float:none;
	}
	/** contact us page **/
	.enigma_contact_form_fields{
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-right: 0px solid #E5E5E5;
	}
	.enigma_contact_info{
		padding-left: 15px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.carousel-indicators{
		display:none;
	}
	.carousel-caption {
	top: 20%;
	}
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
	.enigma_project_section .caroufredsel_wrapper{
		height: 450px !important;
	 }
	 .enigma_client_area .caroufredsel_wrapper{
		height: 300px !important;
	 }
	 .enigma_project_detail_related_projet .caroufredsel_wrapper{ 
		height: 450px !important;
	 }
	 .carousel-indicators{
		display:none;
	}

}
@media only screen and (min-width: 200px) and (max-width: 480px) {
	.neiye_shjy_box{
		width:100%;
	}
	.neiye_shjy .cd-popup-container{
		width:100%;
	}
	.cd-popup-container{
		height: auto;
	}
	.dongxia_content .scene_box_big img{
		width:100%;
		min-width: 100%;
	}
	.booking_apply_bg .booking_apply span{
		line-height: 70px;
	}
	.footer_section .footer_top dl{
		margin-left:-15px;
		margin-right:-15px;
	}
	.footer_section .footer_top dt{
		font-size:1.2rem;
	}
	.footer_section .footer_top dd{
		font-size: 1.1rem;
		line-height: 20px;
	}
	.footer_section .footer_below p{
		font-size:1.1rem;
	}
  .head-contact-info li {
  float: left;
  padding-bottom: 5px;
  width: 100%;
}

.logo{
	text-align:center;
	padding-top:15px;
	padding-bottom:0px;
	}
	.head-contact-info{
	display: block;
	text-align: center;
	padding-top:5px;
	padding-bottom:2px;
	padding-left:0;
	}
	.social{
	display: block;
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 0px;
	}
	.carousel-text h1 {
	margin-top: -10px;
	font-size: 0.8em;
	}
	/* .carousel-list li {	display:none;	} */
	.carousel-list li {
	color: #fff;
	font-size: 8px;
	line-height:8px;
	margin-bottom: 5px;
	overflow: hidden;
	font-family: 'Abel',sans-serif;
	text-transform: uppercase;
	}
	
	.carousel-caption{
	top:10px;
	}
	.carousel-indicators{
		display:none;
	}
	.enigma_callout_area{
		text-align:center;
	}
	.enigma_callout_area p{
		margin-bottom:20px;
		padding:0px;
	}
	.enigma_callout_btn {
	float: none;	
	}
	.enigma_sidebar_left_side{

	float:none;

	}
	.enigma_blog_right_side{
	float:none;
	}
	/** blog full width ***/
	
	.post-content-wrap {
	width:100%;
	}
	.post-content-wrap-right {
	width:100%;
	}
	
	.blog-date-left{
		display:flex;
		margin-bottom: 0px;
	}
	.blog-date-left li{
		width:60px;
		height:60px;
	}
	
	.blog-date-right{
		display:flex;
		margin-bottom: 0px;
	}
	.blog-date-right li{
		width:60px;
		height:60px;
	}
	.enigma_post_date {
		padding-top: 6px;
		padding-left:2px;
		padding-right:2px;
		padding-bottom: 4px;
	}
	.enigma_post_date span.date {
		font-size: 30px;
		line-height: 25px;
	}
	.enigma_post_date h6 {
		font-size: 10px;
		line-height: 10px;
		margin-top: 4px;
	}
	.enigma_post_author img {
		height: 60px !important;
	}
	
	.enigma_blog_comment{
		width: 60px;
		padding-top: 6px;
		padding-left:2px;
		padding-right:2px;
		padding-bottom: 6px;
	}
	.enigma_blog_comment a{
		color:#999999;
	}
	.enigma_blog_comment i{
		font-size: 30px;
		line-height: 25px;
		

	}
	.enigma_blog_comment h6{
		font-size:12px;
		margin-top:4px;
		
	}
	.enigma_fuul_blog_detail_padding {
		padding-left: 0px;
		padding-top:20px;
	}
	.enigma_blog_full .enigma_blog_thumb_wrapper_showcase {
		margin-bottom: 0px;
	}
		.navbar-collapse {
     max-height: none;
	 }
	.enigma_client_area .caroufredsel_wrapper{
		height: 300px !important;
	}
	
	/*** comment section **/
	.enigma_comment_box .media-body {
	float: left;
	}
	/** enigma footer  copyright area ***/
	 .enigma_footer_area{
	 text-align:center;
	 }
	 .enigma_footer_copyright_info{
		float:none;
	}
	.enigma_footer_social_div{
		float:none;
	}
	/* gallery */
	.enigma_gallery_blog{
	width: 100%;
	margin-right: 0;
	margin-bottom: 0;
	float: left;
	}
	.carousel-text .enigma_blog_read_btn{
		display:none;
	}
}